@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Danfo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root{
    --bg-color:#867676ce;
    --primary-color:rgba(203, 219, 203, 0.333); 
    --secundary-color: red;
    --font: "Playwrite GB S", cursive;
}

body{
    background-image: linear-gradient(45deg, rgb(63, 58, 58) 50%, rgb(97, 97, 214) 100%);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

header{
    background-color: linear-gradient(40deg,rgb(15,150,190)50% rgb(100,100,240)) ;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: var(--bg-color);
}